*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    font-family: Meiryo, Open Sans,Arial,sans-serif;
    background-color: #fff;
   
}


#__next{
    min-height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
  }


li {
    list-style-type: none;
    display: flex;
    padding: 5px;
    color: #353a48;
    box-shadow: 0px 1px 1px 1.5px rgba(0,0,0,0.12);
    background-color: #ffffff;
    font-size: 10px;
    height: 50px;
}

li:hover{
    background-color: #efefef;
    cursor: pointer;
}
.listitems{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
    color: black;
 

}
.artist{
    font-size: 0.9em;
    font-weight: 300;
}
.song{
    font-size: 1em;
    font-weight: 500;
    
}


.wrapper{
    max-width: 600px;
    margin: 50px auto
}

.searchinput{
  background: #fff;
  width: 600px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);

}

.searchinput input{
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 50px 50px 0 0 ;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    padding-left: 15px;
    
}

.searchbox{
    padding: 0;
    max-height: 250px;
    overflow: auto;
    width: 100%;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.western{
    height: 100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  

}
.cyber{
    height: 300px;
    background-image: url('https://i.scdn.co/image/ab67616d00001e0288f6bc3b9d1ef64e87fdf7e0');
    background-size:contain;
    width:300px;
    margin-bottom: 200px;
}

.header{
    max-width: 100%;
    position: relative;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
    font-size: 16px;
    font-weight: 800;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.svg{
   display: flex;
   align-items: center;
}

.content{
    text-align: center;
    width: 100%;
    padding:55px 0px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.svgText{
    margin-right: 10px;
 
}
.headerName{
    color: #f55224;
}

h1{
    font-size: 2em;
    line-height: 2em;
    letter-spacing: -1.3px;
    
}

h2{
 font-size: 1em;
 font-weight: 300;
}

.musicSpan{
    color:#f55224
}