*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin:0;
    padding:0;
    font-family: Meiryo, Open Sans,Arial,sans-serif;
    background-color: #f2f2f2;
    color: #000;
    font-size: 14px;
}


#__next{
    min-height: 100vh;
    width:100%;
    display: flex;
    flex-direction: column;
  }


  .recommendedList{
    width:750px;
    float:left
  }


 .recommendedLi {
    list-style-type: none;
    display: flex;
    padding: 5px;
    color: #353a48;
    box-shadow: 0px 1px 1px 1.5px rgba(0,0,0,0.12);
    background-color: #d0d5d4;
    font-size: 10px;
    height: 50px;
    border-radius: 10px;
}

.searchresultsli{
    list-style-type: none;
    display: flex;
    padding: 5px;
    color: #353a48;
    box-shadow: 0px 1px 1px 1.5px rgba(0,0,0,0.12);
    background-color: #d0d5d4;
    font-size: 10px;
    height: 50px;
    border-radius: 10px;
}


.searchresultsli:hover{
    background-color: #efefef;
    cursor: pointer;
}
.listitems{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
    color: black;
    width:200px
 

}
.artist{
    font-size: 0.9em;
    font-weight: 300;
}
.song{
    font-size: 1em;
    font-weight: 500;
    
}


.wrapper{
    width: 100%;
    background: #fff;



}
.searchcontent{
    display: block;
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 14px 0 rgba(0,0,0,.05);
    padding: 8px 0;
}

.searchmain{
    width: 1200px;
    margin: 0 auto;
}



.searchinput{
    position: relative;
    display: flex;
    width: 750px;

}

.searchinput input{
    height: 40px;
    flex:1;
    outline: none;
    border: none;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    display: flex;
    background: #f5f6f7;
    
}

.searchboxmain{
    width:1200px;
    margin: 0 auto;
}

.searchbox{
    padding: 0;
    max-height: 250px;
    width:750px;
    overflow: auto;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 10px;
    background: #f5f6f7;
    border: 3px solid #f5f6f7;
    position: absolute;
}





.header{
    max-width: 100%;
    position: relative;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.12);
    font-size: 1.2em;
    font-weight: 800;
    height: 48px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 48px; 

}

.content{
    text-align: center;
    width: 100%;
    padding:55px 0px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.svgText{
    margin-right: 10px;
 
}


h1{
    font-size: 2em;
    line-height: 2em;
    letter-spacing: -1.3px;
    
}

h2{
 font-size: 1em;
 font-weight: 300;
}

.musicSpan{
    color:#f55224
}

.container{
    width: 1200px;
    margin: auto;
}



  .musicImage {
    width: 280px;
    height: 280px;
    background-size: contain;
    z-index: 999;
    position: relative;

  }

  .background {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1.5;
    filter: blur(100px);
    border: 0;
  }
  


  .blurry-bg {
    width: 200px;
    height: 300px;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0
   
}







